@import url('reset.css');

/**************************************
	Layout #레이아웃
**************************************/
.layout {
	overflow: hidden;

	.header {
		z-index: 100;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%; 
		height: 80px;

		.header-wrap {
			max-width: 1520px;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			padding: 0 15px;
			box-sizing: border-box;
		}
	}

	.container {
		width: 100%;

		.container-wrap {
			max-width: 1520px;
			width: 100%;
			margin: 0 auto;
			padding: 80px 15px 0;
			box-sizing: border-box;
		}
	}
	
	.footer {
		width: 100%;

		.footer-wrap {
			max-width: 1520px;
			width: 100%;
			margin: 0 auto;
			padding: 20px 15px;
			box-sizing: border-box;
		}
	}
}



/**************************************
	Header #헤더
**************************************/
.header {
	background-color: rgba(255,255,255,.6);
	backdrop-filter: blur(6px);
	

	.header-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo-area {
			h1 {
				font-size: 20px;
			}
		}

		.navi-area {
			.btn-navi {
				display: inline-block;
				height: 80px;
				padding: 0 10px;
				font-size: 16px;
			}
		}
	}
}


/**************************************
	Container #컨테이너
**************************************/
h2 {
	font-size: 40px;
}

.container {
	.container-wrap {
		.main {
			height: 100vh;
		}

		.content1 {
			position: relative;
			margin: 200px 0;

			h2 {
				position: absolute;
				top: 0;
				left: 0;
			}

			.cont {
				padding-left: 300px;

				p {
					margin-top: 20px;
					font-size: 20px;

					&:first-child {
						margin-top: 0;
					}
				}

			}
		}

		.content2 {
			display: flex;
			margin: 200px 0;

			.cont {
				width: 50%;
			}

			ul {
				margin-top: 30px;
				font-size: 18px;
			}

			.carrer {
				li {
					position: relative;
					padding-left: 30px;

					&:after {
						content: '';
						position: absolute;
						top: 11px;
						left: 0;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background: #303030;
					}
				}
			}

			.skills { 
				li {
					margin-top: 10px;
					padding-left: 30px;
					box-sizing: border-box;
					background: url('../image/icon_check.png') no-repeat left center;
				}
			}
		}

		.content3 {
			overflow: hidden;
			margin: 200px 0;

			.cont {
				margin-top: 30px;

				> ul {
					margin: -50px 0 0 -30px;

					> li {
						position: relative;
						float: left;
						width: calc(33.33% - 30px);
						margin: 50px 0 0 30px;
						box-sizing: border-box;

						&:after {
							content: '';
							display: block;
							clear: both;
						}

						.prj-tag {
							z-index: 10;
							position: absolute;
							top: 5px;
							left: 5px;

							.tag {
								display: inline-block;
								vertical-align: middle;
								margin-left: 2px;
								padding: 3px 10px;
								font-size: 14px;
								font-weight: 500;
								color: #111111;
								border-radius: 16px;
								background: rgba(255,255,255,.9);
								box-shadow: 0 6px 13px rgba(0,0,0,.2);

								&:first-child {
									margin-left: 0;
								}
							}
						}

						.prj-img {
							position: relative;
							width: 100%;
							height: 270px;
							background-color: rgba(0,0,0,.2);

							> a {
								display: block;
	
								&:after {
									content: '';
									opacity: 0;
									position: absolute;
									top: 10px;
									right: 10px;
									width: 23px;
									height: 23px;
									background: url('../image/icon_arrow.png') no-repeat center;
									transition: .3s;
								}

								&:before {
									content: '';
									opacity: 0;
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									background: rgba(0,0,0,.2);
									transition: .3s;
								}
	
								&:hover:after,
								&:hover:before {
									opacity: 1;
								}
							}

							img {
								width: 100%;
								height: 100%;
							}

							.img-auto {
								position: absolute;
								top: 50%;
								left: 50%;
								width: auto;
								height: 90%;
								transform: translate(-50%, -50%);
							}
						}

						.prj-info {
							margin-top: 10px;

							.title {
								font-size: 20px;
								font-weight: 700 ;
							}

							.conts {
								margin-top: 6px;
								font-size: 18px;
								color: #666;

								> li {
									margin-top: 4px;
								}
							}
						}
					}
				}
			}
		}

		.content4 {
			margin: 200px 0 150px;

			.cont {
				margin-top: 30px;

				p {
					margin-top: 20px;
					font-size: 20px;

					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
}



/**************************************
	Footer #푸터
**************************************/
.footer {
	background: #303030;

	.footer-wrap {
		position: relative;

		p {
			padding-right: 60px;
			font-size: 14px;
			color: rgba(255,255,255,.4);
		}

		.btn-top {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 75px;
			height: 100%;
			font-size: 14px;
			color: #fff;
			background: rgba(255,255,255,.2);
		}
	}
}



/**************************************
	Common #공통
**************************************/
// 숨김텍스트
.hidden-txt { 
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	font-size: 1px;
	margin: 0;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip: rect(1px,1px,1px,1px);
	clip-path: inset(50%);
}

// 스킵네비
.skip-navi { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;

	> a {
		opacity: 0;
		position: absolute;
		top: -30px;
		left: 0;
		display: block;
		width: 100%;
		height: 30px;
		text-align: center;
		color: #ffffff;
		background: #111111;
	}
}