@charset "UTF-8";
@import url("reset.css");
/**************************************
	Layout #레이아웃
**************************************/
.layout {
  overflow: hidden;
}
.layout .header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}
.layout .header .header-wrap {
  max-width: 1520px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.layout .container {
  width: 100%;
}
.layout .container .container-wrap {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.layout .footer {
  width: 100%;
}
.layout .footer .footer-wrap {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px;
  box-sizing: border-box;
}

/**************************************
	Header #헤더
**************************************/
.header {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-wrap .logo-area {
  padding-left: 10px;
}
.header .header-wrap .logo-area h1 {
  font-size: 20px;
}
.header .header-wrap .navi-area {
  height: 100%;
}
.header .header-wrap .navi-area .btn-navi {
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  font-size: 16px;
  color: #000000;
}

/**************************************
	Container #컨테이너
**************************************/
h2 {
  font-size: 40px;
}

.container .container-wrap .main .cont {
  opacity: 0;
  height: 100vh;
}
.container .container-wrap .main .cont .bg-text {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.container .container-wrap .main .cont .bg-text.text1 g {
  transform: translateY(58%);
}
.container .container-wrap .main .cont .bg-text.text1 text {
  font-family: "Dancing Script";
  font-size: 350px;
  letter-spacing: 40px;
  stroke-width: 3px;
  stroke: #8ba7cf;
  fill: transparent;
  stroke-dashoffset: 1237;
  stroke-dasharray: 1237;
  transition: stroke-dashoffset 1.5s;
}
.container .container-wrap .main .cont .bg-text.text2 g {
  transform: translateY(58%);
}
.container .container-wrap .main .cont .bg-text.text2 text {
  font-family: "Dancing Script";
  font-size: 300px;
  stroke-width: 3px;
  stroke: #c1a9f3;
  fill: transparent;
  stroke-dashoffset: 1768;
  stroke-dasharray: 1768;
  transition: stroke-dashoffset 1.5s;
}
.container .container-wrap .main .cont:after {
  content: "";
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 90%;
  background: #5028a7;
  transform: translate(-50%, -50%);
  transition: background-color 1s;
}
.container .container-wrap .main .cont:last-child:after {
  background: #0c1625;
}
.container .container-wrap .main .cont:first-child.active:after {
  background: #0c1625;
}
.container .container-wrap .main .cont:last-child.active:after {
  background: #5028a7;
}
.container .container-wrap .main .cont.active {
  opacity: 1;
}
.container .container-wrap .main .cont.active .bg-text text {
  stroke-dashoffset: 0;
}
.container .container-wrap .main .cont.nofix {
  position: relative;
}
.container .container-wrap .main .cont.nofix .bg-text {
  position: absolute;
}
.container .container-wrap .main .cont.nofix .bg-text text {
  stroke-dashoffset: 1768;
}
.container .container-wrap .main .cont.nofix:after {
  position: absolute;
}
.container .container-wrap .content1 {
  position: relative;
  padding: 200px 0 0;
}
.container .container-wrap .content1 h2 {
  position: absolute;
  top: 200px;
  left: 0;
}
.container .container-wrap .content1 .cont {
  padding-left: 300px;
}
.container .container-wrap .content1 .cont p {
  margin-top: 20px;
  font-size: 20px;
}
.container .container-wrap .content1 .cont p:first-child {
  margin-top: 0;
}
.container .container-wrap .content2 {
  display: flex;
  padding: 200px 0 0;
}
.container .container-wrap .content2 .cont {
  width: 50%;
}
.container .container-wrap .content2 ul {
  margin-top: 30px;
  font-size: 18px;
}
.container .container-wrap .content2 .carrer li {
  position: relative;
  padding-left: 30px;
}
.container .container-wrap .content2 .carrer li:after {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #303030;
}
.container .container-wrap .content2 .skills li {
  margin-top: 10px;
  padding-left: 30px;
  box-sizing: border-box;
  background: url("../image/icon_check.png") no-repeat left center;
}
.container .container-wrap .content3 {
  overflow: hidden;
  padding: 200px 0 0;
}
.container .container-wrap .content3 .cont {
  margin-top: 30px;
}
.container .container-wrap .content3 .cont > ul {
  margin: -50px 0 0 -30px;
  font-size: 0;
}
.container .container-wrap .content3 .cont > ul > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(33.33% - 30px);
  margin: 50px 0 0 30px;
  box-sizing: border-box;
}
.container .container-wrap .content3 .cont > ul > li:after {
  content: "";
  display: block;
  clear: both;
}
.container .container-wrap .content3 .cont > ul > li .prj-tag {
  z-index: 10;
  position: absolute;
  top: 5px;
  left: 5px;
}
.container .container-wrap .content3 .cont > ul > li .prj-tag .tag {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #111111;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2);
}
.container .container-wrap .content3 .cont > ul > li .prj-tag .tag:first-child {
  margin-left: 0;
}
.container .container-wrap .content3 .cont > ul > li .prj-img {
  position: relative;
  width: 100%;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.2);
}
.container .container-wrap .content3 .cont > ul > li .prj-img > a {
  display: block;
  height: 100%;
}
.container .container-wrap .content3 .cont > ul > li .prj-img > a:after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 23px;
  height: 23px;
  background: url("../image/icon_arrow.png") no-repeat center;
  transition: 0.3s;
}
.container .container-wrap .content3 .cont > ul > li .prj-img > a:before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.container .container-wrap .content3 .cont > ul > li .prj-img > a:hover:after, .container .container-wrap .content3 .cont > ul > li .prj-img > a:hover:before, .container .container-wrap .content3 .cont > ul > li .prj-img > a:focus:after, .container .container-wrap .content3 .cont > ul > li .prj-img > a:focus:before {
  opacity: 1;
}
.container .container-wrap .content3 .cont > ul > li .prj-img img {
  width: 100%;
  height: 100%;
}
.container .container-wrap .content3 .cont > ul > li .prj-img .img-auto {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 90%;
  transform: translate(-50%, -50%);
}
.container .container-wrap .content3 .cont > ul > li .prj-info {
  margin-top: 10px;
}
.container .container-wrap .content3 .cont > ul > li .prj-info .title {
  font-size: 20px;
  font-weight: 700;
}
.container .container-wrap .content3 .cont > ul > li .prj-info .conts {
  margin-top: 6px;
  font-size: 18px;
  color: #666;
}
.container .container-wrap .content3 .cont > ul > li .prj-info .conts > li {
  margin-top: 4px;
}
.container .container-wrap .content4 {
  padding: 200px 0 150px;
}
.container .container-wrap .content4 .cont {
  margin-top: 30px;
}
.container .container-wrap .content4 .cont p {
  margin-top: 20px;
  font-size: 20px;
}
.container .container-wrap .content4 .cont p:first-child {
  margin-top: 0;
}

/**************************************
	Footer #푸터
**************************************/
.footer {
  background: #303030;
}
.footer .footer-wrap {
  position: relative;
}
.footer .footer-wrap p {
  padding-right: 60px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.footer .footer-wrap .btn-top {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 75px;
  height: 100%;
  font-size: 14px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

/**************************************
	Common #공통
**************************************/
.hidden-txt {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  margin: 0;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.skip-navi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.skip-navi > a {
  opacity: 0;
  position: absolute;
  top: -30px;
  left: 0;
  display: block;
  width: 100%;
  height: 30px;
  text-align: center;
  color: #ffffff;
  background: #111111;
}
.skip-navi > a.active {
  opacity: 1;
  top: 0;
}

.pc-hide {
  display: none;
}

/**************************************
	Responsive #반응형
**************************************/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .layout .header {
    height: 65px;
  }
  .layout .header .header-wrap {
    padding: 0 20px;
  }
  .layout .header .header-wrap .logo-area h1 {
    font-size: 16px;
  }
  .layout .header .header-wrap .navi-area .btn-navi {
    font-size: 14px;
  }
  .layout .container .container-wrap {
    padding: 0 30px;
  }
  .layout .container .main .cont .bg-text.text1 {
    width: 429px;
  }
  .layout .container .main .cont .bg-text.text1 g {
    transform: translateY(56%);
  }
  .layout .container .main .cont .bg-text.text1 text {
    letter-spacing: 20px;
    font-size: 200px;
    stroke-dasharray: 706;
    stroke-dashoffset: 706;
  }
  .layout .container .main .cont .bg-text.text2 {
    width: 566px;
  }
  .layout .container .main .cont .bg-text.text2 g {
    transform: translateY(56%);
  }
  .layout .container .main .cont .bg-text.text2 text {
    font-size: 180px;
    stroke-dasharray: 1061;
    stroke-dashoffset: 1061;
  }
  .layout .container .main .cont.active .bg-text text {
    stroke-dashoffset: 0;
  }
  .layout .container .main .cont.nofix .bg-text text {
    stroke-dashoffset: 1061;
  }
  .layout .container .content1 {
    padding: 150px 0 0;
  }
  .layout .container .content1 h2 {
    position: static;
  }
  .layout .container .content1 .cont {
    margin-top: 20px;
    padding-left: 10px;
  }
  .layout .container .content1 .cont p {
    font-size: 16px;
  }
  .layout .container .content2 {
    padding: 150px 0 0;
  }
  .layout .container .content2 ul {
    margin-top: 20px;
    font-size: 16px;
  }
  .layout .container .content2 .carrer li {
    padding-left: 20px;
  }
  .layout .container .content2 .carrer li:after {
    width: 4px;
    height: 4px;
  }
  .layout .container .content2 .skills li {
    padding-left: 20px;
    background-size: 10px;
  }
  .layout .container .content3 {
    padding: 150px 0 0;
  }
  .layout .container .content3 .cont {
    margin-top: 20px;
  }
  .layout .container .content3 .cont > ul > li {
    width: calc(50% - 30px);
  }
  .layout .container .content3 .cont > ul > li .prj-tag .tag {
    margin-left: 4px;
    font-size: 13px;
  }
  .layout .container .content3 .cont > ul > li .prj-img {
    height: 240px;
  }
  .layout .container .content3 .cont > ul > li .prj-info {
    margin-top: 15px;
  }
  .layout .container .content3 .cont > ul > li .prj-info .title {
    font-size: 16px;
  }
  .layout .container .content3 .cont > ul > li .prj-info .conts {
    font-size: 16px;
  }
  .layout .container .content4 {
    padding: 150px 0 100px;
  }
  .layout .container .content4 .cont {
    margin-top: 20px;
  }
  .layout .container .content4 .cont p {
    margin-top: 10px;
    font-size: 16px;
  }
  .layout .footer .footer-wrap {
    padding: 15px 25px;
  }
  .layout .footer .footer-wrap p {
    padding-right: 45px;
    font-size: 13px;
  }
  .layout .footer .footer-wrap .btn-top {
    width: 70px;
    font-size: 13px;
  }
  h2 {
    font-size: 30px;
  }
  .pc-hide {
    display: block;
  }
}
@media all and (max-width: 767px) {
  .layout .header {
    height: 55px;
  }
  .layout .header .header-wrap {
    padding: 0 10px;
  }
  .layout .header .header-wrap .logo-area h1 {
    display: none;
  }
  .layout .header .header-wrap .navi-area .btn-navi {
    padding: 0 5px;
    font-size: 12px;
  }
  .layout .container .container-wrap {
    padding: 0 15px;
  }
  .layout .container .main .cont .bg-text.text1 {
    width: 214px;
  }
  .layout .container .main .cont .bg-text.text1 g {
    transform: translateY(54%);
  }
  .layout .container .main .cont .bg-text.text1 text {
    letter-spacing: 10px;
    font-size: 100px;
    stroke-width: 1px;
    stroke-dasharray: 1080;
    stroke-dashoffset: 1080;
  }
  .layout .container .main .cont .bg-text.text2 {
    width: 252px;
  }
  .layout .container .main .cont .bg-text.text2 g {
    transform: translateY(54%);
  }
  .layout .container .main .cont .bg-text.text2 text {
    font-size: 80px;
    stroke-width: 1px;
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
  }
  .layout .container .main .cont.active .bg-text text {
    stroke-dashoffset: 0;
  }
  .layout .container .main .cont.nofix .bg-text text {
    stroke-dashoffset: 470;
  }
  .layout .container .content1 {
    padding: 80px 0 0;
  }
  .layout .container .content1 h2 {
    position: static;
  }
  .layout .container .content1 .cont {
    margin-top: 15px;
    padding-left: 0;
  }
  .layout .container .content1 .cont p {
    margin-top: 12px;
    font-size: 14px;
  }
  .layout .container .content2 {
    display: block;
    padding: 80px 0 0;
  }
  .layout .container .content2 .cont {
    width: 100%;
    margin-top: 80px;
  }
  .layout .container .content2 .cont:first-child {
    margin-top: 0;
  }
  .layout .container .content2 ul {
    margin-top: 15px;
    font-size: 14px;
  }
  .layout .container .content2 .carrer li {
    padding-left: 20px;
  }
  .layout .container .content2 .carrer li:after {
    width: 4px;
    height: 4px;
  }
  .layout .container .content2 .skills li {
    padding-left: 20px;
    background-size: 10px;
  }
  .layout .container .content3 {
    padding: 80px 0 0;
  }
  .layout .container .content3 .cont {
    margin-top: 15px;
  }
  .layout .container .content3 .cont > ul {
    margin: -40px 0 0 0;
  }
  .layout .container .content3 .cont > ul > li {
    width: 100%;
    margin: 40px 0 0 0;
  }
  .layout .container .content3 .cont > ul > li .prj-tag .tag {
    margin-left: 4px;
    font-size: 11px;
    padding: 2px 8px;
  }
  .layout .container .content3 .cont > ul > li .prj-img {
    height: 150px;
  }
  .layout .container .content3 .cont > ul > li .prj-info {
    margin-top: 10px;
  }
  .layout .container .content3 .cont > ul > li .prj-info .title {
    font-size: 14px;
  }
  .layout .container .content3 .cont > ul > li .prj-info .conts {
    font-size: 14px;
  }
  .layout .container .content4 {
    padding: 80px 0 80px;
  }
  .layout .container .content4 .cont {
    margin-top: 15px;
  }
  .layout .container .content4 .cont p {
    margin-top: 10px;
    font-size: 14px;
  }
  .layout .footer .footer-wrap {
    padding: 15px;
  }
  .layout .footer .footer-wrap p {
    padding-right: 45px;
    font-size: 12px;
  }
  .layout .footer .footer-wrap .btn-top {
    width: 60px;
    font-size: 12px;
  }
  h2 {
    font-size: 24px;
  }
  .pc-hide {
    display: block;
  }
  .mo-hide {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */